.btn-menu { /* Button properties definition */
    background-color: cornflowerblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 10%;
}

.menu { /* Menu positioning */
    position: relative;
    display: inline-block;
}

.ingredients { /* Ingredients position defined to not display (display none) */
    display: none;
    position: absolute;
    background-color: cadetblue;
}

.ingredients p {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.ingredients p:hover {
    background-color: rgb(114, 191, 194);
}

.menu:hover .ingredients { /* Set to show ingredients on block when hovering div menu */
    display: block;
}

.menu:hover .btn-menu {
    background-color: rgb(144, 175, 231);
}